
.url {
    font-family: Arial;
    font-weight: bold;
}

.username {
    font-family: Arial;
    color: gray;
}

.description {
    font-family: Arial;
    width: 500px;
    line-height: 25px;
}

.second-description {
    font-family: Arial;
}

.user {
    color: rgb(24, 166, 221);
}